################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/module1-solution/.vs
*.sqlite
